/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/bikinc/css/allPages.css updated 2020-03-03 buixuan.
 * ***********************************************************/
@import 'nativescript-theme-core/css/blue.css';
@import url('~/src/bikinc/css/platform.css'); 
Page {
  background-image: res://background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}
Button {
  background-color: rgba(0,0,0,.3);
  color: #FFFFFF;
}
Label{
  horizontal-align: center;
  text-align: center;
  white-space: normal;
}

/**************/
/* COLOR BANK */
/**************/
/* BLUE THIBAULT */
/*    background-color: rgba(30,144,255,0.6); */
/* DESERT SAND */
/*    background-color: #EDC9AF;   */
/* DARK SAND */
/*    background-color: #6B5A38;   */
/* BEACH SAND */
/*    background-color: #FAC09A;   */
/* SAND */
/*    background-color: #C2B280;   */
/* LIGHT SUNNY YELLOW */
/*    color: #FFFC7F; */
/* BRIGHT SUN LEMON */
/*    color: #FFE13F; */



/*************/
/* FONT BANK */
/*************/
/*
  font-family: "Party LET";
  font-family: "Savoye Let";
  font-family: "Hoefler Text";
  font-family: "Zapfino";
  font-family: "Snell Roundhand";
  font-family: "Noteworthy", "Times New Roman";
*/
