/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/bikinc/css/commonList.css updated 2020-03-03 buixuan.
 * ***********************************************************/
.caption{
  color: rgb(255,255,255);
  horizontal-align: left;
}
.price{
  color: rgb(255,255,255);
  horizontal-align: right;
}
.bottombar{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12;
  color: #505050;
}
/* ========================== */
Button{
  width: 98%;
  height: 10%;
  margin-top: 1.1%;
  margin-bottom: 1.1%;
  margin-left: 1.1%;
  margin-right: 1.1%;
}
Image{
  height:8%;
  margin-right: 80%;
}
.caption{
  margin-left: 20%;
  font-size: 16;
}
.price{
  margin-right: 2%;
  font-size: 16;
}
.bottombar{
  font-size: 12;
}

/* ========================== */
.landscape Button{
  width: 98%;
  height: 10%;
  margin-top: 1.1%;
  margin-bottom: 1.1%;
  margin-left: .7%;
  margin-right: .7%;
}
.landscape Image{
  height: 8%;
  margin-right: 90%;
}
.landscape Label.caption{
  margin-left: 8%;
  font-size: 16;
}
.landscape Label.price{
  margin-right: 2%;
  font-size: 16;
}
.landscape Label.bottombar{
}
