/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/bikinc/css/doubleSide.css updated 2020-03-03 buixuan.
 * ***********************************************************/
.caption{
  color: rgb(255,255,255);
  horizontal-align: left;
}
.bottombar{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12;
  color: #505050;
}
/* ========================== */
StackLayout{
  orientation: vertical;
}
.infocom{
  width: 100%;
  height: 50%;
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.namecom{
  font-family: "Snell Roundhand", "Noteworthy", "Times New Roman";
  margin-top: 12%;
  margin-bottom: 22%;
  color: white;
  font-size: 30;
  font-weight:bold;
  font-style: italic;
}
.descriptioncom{
  font-family: "Noteworthy", "Times New Roman";
  color: #505050;
  font-size: 12;
  font-weight: bold;
  font-style: italic;
}
.telcom{
  font-family: "Noteworthy", "Times New Roman";
  color: #505050;
  font-size: 12;
  margin-top: 0%;
  margin-bottom: 0;
}
.mailcom{
  font-family: "Noteworthy", "Times New Roman";
  color: #505050;
  font-size: 12;
  font-style: italic;
  margin-top: 0;
}
.facecom{
  font-family: "Noteworthy", "Times New Roman";
  color: #505050;
  font-size: 12;
  font-style: italic;
  margin-top: 0;
}
Button{
  width: 48%;
  height: 25%;
  margin-top: 1.1%;
  margin-bottom: 1.1%;
  margin-left: 1.1%;
  margin-right: 1.1%;
}
Image{
  height:22%;
  width:15%;
  margin-left: 3%;
  horizontal-align: left;
}
.caption{
  margin-left: 20%;
  font-size: 16;
}
.bottombar{
  font-size: 12;
}

/* ========================== */
.landscape StackLayout{
  orientation: horizontal;
}
.landscape GridLayout.infocom{
  width: 33%;
  height: 100%;
}
.landscape Label.namecom{
  color: #1EC0CF;
  margin-top: 12%;
  margin-bottom: 15%;
}
.landscape Button{
  width: 48%;
  height: 25%;
  margin-top: 1.1%;
  margin-bottom: 1.1%;
  margin-left: .7%;
  margin-right: .7%;
}
.landscape Image{
  width: 16%;
  margin-right: 26%;
}
.landscape Label.caption{
  margin-left: 22%;
  font-size: 16;
}
.landscape Label.bottombar{
  font-size: 12;
}
