/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/bikinc/css/doubleSideDescription.css updated 2020-03-03 buixuan.
 * ***********************************************************/
@import url('~/src/bikinc/css/doubleSide.css');

.infocom{
  width: 100%;
  height: 66%;
}
.namecom{
  margin-top: 10%;
  margin-bottom: 5%;
}
.descriptionImage{
  horizontal-align:center;
  margin-right: 0;
  width:100%;
  height:60%;
}
.aboutus{
  font-family: "Noteworthy", "Times New Roman";
  margin-bottom: 0%;
  color: #505050;
  font-size: 8;
  font-weight: bold;
  font-style: italic;
}
.landscape GridLayout.infocom{
  width: 50%;
  height: 100%;
}
.landscape Label.namecom{
  margin-top: 5%;
  margin-bottom: 5%;
}
.landscape Image.descriptionImage{
  horizontal-align:center;
  margin-right: 0;
  width:100%;
  height:60%;
}
.landscape Label.aboutus{
  font-family: "Noteworthy", "Times New Roman";
  margin-top: 15%;
  color: #505050;
  font-size: 12;
  font-weight: bold;
  font-style: italic;
}
