/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/bikinc/css/platform.ios.css updated 2020-03-03 buixuan.
 * ***********************************************************/
Button {
    border-width: .8;
    border-style: solid;
/*    border-color: #034793;   */
/*    border-color: rgba(0,0,139,0.5); */
    border-color: #333333;
    border-radius: 0;
}
TextField {
    background-color: #FAFAFA;
    border-width: 1;
    border-style: solid;
    border-color: #C7C7CC;
    border-radius: 2;
}
.link {
    border-width: 0;
}
