<!-- poissons.page.html -->

<ion-content>
	<br>
	<div class="container mt-3">
		<div class="row">
			<div class="col-12" *ngFor="let poisson of poissons">
				<div
					class="row mb-2" (click)="onProduitClique(poisson)">
					<!-- Colonne pour l'image à gauche -->
					<div class="col-3">
						<img src="assets/img/{{poisson.img}}" class="img-fluid" alt="{{poisson.nom}}">
					</div>
					<!-- Colonne pour le nom au centre -->
					<div class="col-4 d-flex align-items-center">
						<h4>{{poisson.nom}}</h4>
					</div>
					<!-- Colonne pour le prix à droite -->
					<div class="col-4 d-flex align-items-center justify-content-end">
						<h4>{{poisson.prix}}€</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
