<h2>Nos Recettes</h2>

<ion-content>
	<div class="container w-100">
		<div class="row d-flex flex-wrap justify-content-center">
			<div class="card col-5 m-1" *ngFor="let recette of recettes">
				<br>
				<img src="assets/img/{{recette.img}}" class="card-img-top">
				<div class="card-body">
					<h4 class="card-title">{{recette.nom}}</h4>

					<ion-button (click)="onClickedDetail(recette)">
						Voir
					</ion-button>
				</div>
			</div>
		</div>
	</div>
</ion-content>
