<ion-header collapse="condense">
	<ion-toolbar>
		<div align="center">
			<ion-avatar
				slot="start">
				<!-- Utilise le slot "start" pour aligner l'avatar à gauche -->
				<ion-img src="assets/icon/espadon.avif" alt="Logo"></ion-img>
			</ion-avatar>
			<ion-title size="medium" style="font-family: 'itobliquealic'">Le Bateau de Thibault</ion-title>
		</div>
	</ion-toolbar>
</ion-header>

<h2>Nos Bateaux Partenaires</h2>

<ion-content>
	<div class="container w-100">
		<div class="row d-flex flex-wrap justify-content-center">
			<div class="card col-5 m-1" *ngFor="let bateau of bateaux">
				<br>
				<img src="assets/img/{{bateau.img}}" class="card-img-top">
				<div class="card-body">
					<h4 class="card-title">{{bateau.nom}}</h4>

					<ion-button (click)="onClickedDetail(bateau)">
						Voir
					</ion-button>
				</div>
			</div>
		</div>
	</div>
</ion-content>
