.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 80%;
    text-align: center;
}

/* styles.css ou styles.scss */

/* Bouton par défaut */
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effet de survol */
button:hover {
    background-color: #2980b9;
}

/* Bouton annuler */
.button-cancel {
    background-color: #e74c3c;
}

/* Bouton valider */
.button-ok {
    background-color: #2ecc71;
}