<ion-content>
	<br>
	<div class="container mt-3">
		<div class="row">
			<div class="col-12" *ngFor="let produit of contenuPanier">
				<div
					class="row mb-2" (click)="modifierQuantite(produit)">
					<!-- Colonne pour l'image à gauche -->
					<div class="col-3">
						<img src="assets/img/{{produit.img}}" class="img-fluid" alt="{{produit.nom}}">
					</div>
					<!-- Colonne pour le nom au centre -->
					<div class="col-4 d-flex align-items-center">
						<h4>{{produit.nom}}</h4>
					</div>
					<!-- Colonne pour la quantité au centre -->
					<div class="col-2 d-flex align-items-center">
						<h4>{{produit.quantite}}x</h4>
					</div>
					<!-- Colonne pour le prix à droite -->
					<div class="col-3 d-flex align-items-center justify-content-end">
						<h4>{{produit.prix * produit.quantite}}€</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div>
		<label>Sélectionnez un restaurant :</label>
		<select>
			<option *ngFor="let restaurant of restaurants" [value]="restaurant.id">
				{{ restaurant.nom }}
			</option>
		</select>
	</div>
	<div class="container mt-3">
		<div class="row">
			<div class="col-12">
				<div class="row mb-2">
					<div class="col-3"></div>
					<div class="col-4 d-flex align-items-center">
						<h4>Total:</h4>
					</div>
					<div class="col-4 d-flex align-items-center justify-content-end">
						<span class="font-crimson font-semibold text-xl">{{ calculerPrixTotal().toFixed(2) }}
							€</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="button-ok" (click)="validerCommande()">Valider</button>

	<div *ngIf="isModalVisible" class="custom-modal">
		<p>Voulez-vous valider votre panier de
			{{ prixTotal }}€ chez le Bateau de Thibault?</p>
		<button class="button-cancel" (click)="fermerModal()">Annuler</button>
		<button class="button-ok" (click)="viderPanier()">OK</button>
	</div>

	<div *ngIf="isModalQuantiteVisible" class="custom-modal">
		<p>Modifier la quantité pour
			{{ produitSelectionne.nom }}</p>
		<ion-input type="number" [(ngModel)]="quantiteModifiee" placeholder="Quantité"></ion-input>
		<button class="button-cancel" (click)="fermerModalQuantite()">Annuler</button>
		<button class="button-ok" (click)="validerQuantite()">OK</button>
	</div>
</ion-content>
