<ion-content [fullscreen]="true">
	<div class="ok">
		<ion-header collapse="condense">
			<ion-toolbar>
				<ion-title size="large">contact</ion-title>
			</ion-toolbar>
		</ion-header>

		<h1>Le Bateau de Thibault</h1>
		<img src="assets/img/contact.png" class="imgo">
		<div class="row">
			<div class="col-10">
				<div
					class="row mb-2">
					<!-- Colonne pour l'image à gauche -->
					<div class="col-3">
						<img src="assets/img/tel.png" class="img-fluid">
					</div>
					<!-- Colonne pour le nom au centre -->
					<div class="col-6 d-flex align-items-center">
						<h4>06 44 55 67 82</h4>
					</div>
					<!-- Colonne pour le prix à droite -->
					<div class="col-4 d-flex align-items-center justify-content-end">
						<h4></h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-10">
				<div
					class="row mb-2">
					<!-- Colonne pour l'image à gauche -->
					<div class="col-3">
						<img src="assets/img/www.png" class="img-fluid">
					</div>
					<!-- Colonne pour le nom au centre -->
					<div class="col-6 d-flex align-items-center">
						<p>lebateaudethibaultAgmail.com</p>
					</div>
					<!-- Colonne pour le prix à droite -->
					<div class="col-4 d-flex align-items-center justify-content-end">
						<h4></h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-10">
				<div
					class="row mb-2">
					<!-- Colonne pour l'image à gauche -->
					<div class="col-3">
						<img src="assets/img/facebook.png" class="img-fluid">
					</div>
					<!-- Colonne pour le nom au centre -->
					<div class="col-6 d-flex align-items-center">
						<p>www.facebook/lebateaudethibault</p>
					</div>
					<!-- Colonne pour le prix à droite -->
					<div class="col-4 d-flex align-items-center justify-content-end">
						<h4></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
