<ion-content>
	<br>
	<br>
	<div class="container mt-3">
		<div class="row">
			<div class="col-12" *ngFor="let coquillage of coquillages">
				<div
					class="row mb-2" (click)="onProduitClique(coquillage)">
					<!-- Colonne pour l'image à gauche -->
					<div class=" col-3">
						<img src="assets/img/{{coquillage.img}}" class="img-fluid" alt="{{coquillage.nom}}">
					</div>
					<!-- Colonne pour le nom au centre -->
					<div class="col-4 d-flex align-items-center">
						<h4>{{coquillage.nom}}</h4>
					</div>
					<!-- Colonne pour le prix à droite -->
					<div class="col-4 d-flex align-items-center justify-content-end">
						<h4>{{coquillage.prix}}€</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
