<div class="mx-auto card col-12" id="lol">
	<img src="assets/img/{{restaurantDetail[0].img}}" class="card-img-top">
	<div class="card-body">
		<h3 class="card-title">{{restaurantDetail[0].nom}}</h3>
		<h5 class="card-title">numero:
			{{restaurantDetail[0].numero}}</h5>
		<h5 class="card-title">{{restaurantDetail[0].description}}</h5>
		<a class="btn btn-primary">Reserver</a>
	</div>
</div>
