<ion-app>
	<ion-header collapse="condense">
		<ion-toolbar>
			<!-- Icône Home à gauche -->
			<ion-buttons slot="start">
				<ion-button (click)="goToHome()">
					<ion-icon name="home"></ion-icon>
				</ion-button>
			</ion-buttons>

			<div align="center">
				<ion-avatar slot="start">
					<ion-img src="assets/icon/espadon.avif" alt="Logo"></ion-img>
				</ion-avatar>
				<ion-title size="medium" style="font-family: 'itobliquealic'">Le Bateau de Thibault</ion-title>
			</div>

			<!-- Icône Panier à droite -->
			<ion-buttons slot="end">
				<ion-button (click)="goToPanier()">
					<ion-icon name="cart"></ion-icon>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-router-outlet></ion-router-outlet>
</ion-app>
