/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/views/shop/shop.css updated 2020-03-03 buixuan.
 * ***********************************************************/
@import url('~/src/bikinc/css/commonList.css');

ListView{
  background-color: rgba(0,0,0,.3);
  color: rgb(255,255,255);
}
GridLayout.navbar{
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: yellow;
  background-color: rgb(0,0,0);
  background-image: res://navbarbg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}
Button{
  width: 98%;
  height: 22%;
  margin-top: 1.1%;
  margin-bottom: 1.1%;
  margin-left: 1.1%;
  margin-right: 1.1%;
}
Image{
  height: 19%;
  margin-right: 65%;
}
Image.listView{
  height: 40vw;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 0%;
}
.caption{
  margin-left: 40%;
  font-size: 24;
}
Image.nav{
  height: 30vw;
  margin-right: 10vw;
  margin-left: 10vw;
}
.hint{
  margin-top: 5vh;
  font-family: "Noteworthy", "Times New Roman";
  font-size: 16;
  font-style: italic;
}
.comments{
  visibility: collapsed;
}
.summary{
  width:100%;
  margin-left:0;
}
.total{
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 15vh;
  text-align: right;
  horizontal-align: right;
  font-size: 24;
  color: rgb(255,255,255);
}
.shipLeft{
  margin-left: 5vh;
  font-size: 16;
  text-align: left;
  horizontal-align: left;
  color: rgb(255,255,255);
}
.shipLeftIndent{
  margin-left: 15vh;
  font-size: 16;
  text-align: left;
  horizontal-align: left;
  color: rgb(255,255,255);
}
.shipRight{
  margin-right: 5vh;
  font-size: 16;
  text-align: right;
  horizontal-align: right;
  color: rgb(255,255,255);
}
Label.listView{
  margin-left: 5vh;
  font-size: 16;
}
.bottombar{
  background-color: rgba(0,0,0,.3);
  margin-left:0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12;
  color: #505050;
}

/* ========================== */
.landscape Button{
  width: 98%;
  height: 22%;
  margin-top: 1.1%;
  margin-bottom: 1.1%;
  margin-left: .7%;
  margin-right: .7%;
}
.landscape Image{
  height: 18%;
  margin-right: 88%;
}
.landscape Label.caption{
  margin-left: 12%;
  font-size: 24;
}
.landscape Label.comments{
  visibility: visible;
}
.landscape Image.listView{
  height: 40vw;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 0%;
}
.landscape Label.listView{
  margin-left: 5vh;
  font-size: 16;
}
.landscpae GridLayout.navbar{
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: yellow;
  background-color: rgb(0,0,0);
  background-image: res://navbarbg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.landscape Image.nav{
  height: 30vw;
  margin-right: 10vw;
  margin-left: 10vw;
}
