<div class="mx-auto card col-12" id="lol">
	<img src="assets/img/{{recetteDetail[0].img}}" class="card-img-top">
	<div class="card-body">
		<h3 class="card-title">{{recetteDetail[0].nom}}</h3>
		<h5 class="card-title">{{recetteDetail[0].description}}</h5>
	</div>
</div>
