/* ***********************************************************
 * TIG - Le bateau de Thibault.
 * Copyright (C) 2018 <Binh-Minh.Bui-Xuan@ens-lyon.org>.
 * GPL version>=3 <http://www.gnu.org/licenses/>.
 * $Id: BateauThibault/app/src/views/contact/contact.css updated 2020-03-03 buixuan.
 * ***********************************************************/
@import url('~/src/bikinc/css/doubleSideDescription.css');
.descriptionImage{
  horizontal-align:center;
  margin-right: 0;
  width:100%;
  height:50%;
}
.landscape Image.descriptionImage{
  horizontal-align:center;
  margin-right: 0;
  width:100%;
  height:50%;
}
