<ion-content>
	<div class="container-fluid mt-3">
		<div
			class="row">

			<!-- Section Poissons -->
			<div class="col-6 col-md-3 mb-3">
				<a (click)="onClickedPoisson()" class="text-dark text-decoration-none">
					<div class="card">
						<img src="assets/img/poissons.png" class="card-img-top" alt="Poissons">
						<div class="card-body text-center">
							<h5 class="card-title">Poissons</h5>
						</div>
					</div>
				</a>
			</div>

			<!-- Section Crustacés -->
			<div class="col-6 col-md-3 mb-3">
				<a (click)="onClickedCrustaces()" class="text-dark text-decoration-none">
					<div class="card">
						<img src="assets/img/crustace.png" class="card-img-top" alt="Crustacés">
						<div class="card-body text-center">
							<h5 class="card-title">Crustacés</h5>
						</div>
					</div>
				</a>
			</div>

			<!-- Section Coquillages -->
			<div class="col-6 col-md-3 mb-3">
				<a (click)="onClickedCoquillages()" class="text-dark text-decoration-none">
					<div class="card">
						<img src="assets/img/coquillage.png" class="card-img-top" alt="Coquillages">
						<div class="card-body text-center">
							<h5 class="card-title">Coquillages</h5>
						</div>
					</div>
				</a>
			</div>

			<!-- Section Promotions -->
			<div class="col-6 col-md-3 mb-3">
				<a (click)="onClickedPromos()" class="text-dark text-decoration-none">
					<div class="card">
						<img src="assets/img/promo.jpg" class="card-img-top" alt="Promotions">
						<div class="card-body text-center">
							<h5 class="card-title">Promotions</h5>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</ion-content>
