<ion-content [fullscreen]="true" style="--background: #DDFFF7;">
	<div id="container">
		<div class="section-one">
			<strong>Bienvenue sur notre bateau!</strong><br>
			<strong>Tous les délices de la mer à portée de mains!</strong>
		</div>
		<br><br>

		<div class="section-two">
			<ion-grid>
				<ion-button class="custom-button" (click)="onClickedProduits()" expand="full">
					Produits et promotions
				</ion-button>
				<ion-row>
					<ion-col>
						<ion-button class="custom-button" (click)="onClickedBateaux()" expand="full">Bateaux</ion-button>
						<ion-button class="custom-button" (click)="onClickedRecettes()" expand="full">Recettes</ion-button>
					</ion-col>
					<ion-col>
						<ion-button class="custom-button" (click)="onClickedRestaurants()" expand="full">Restaurants</ion-button>
						<ion-button class="custom-button" (click)="onClickedContact()" expand="full">Contacts</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</ion-content>
