.home-page {
  background-color: aqua;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 15px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.section-two ion-button {
  --background: rgba(88, 180, 211, 0.7);
  color: #333;
  /* Couleur du texte, ajuste selon tes besoins */
}

.custom-button {
  height: 60px !important;
  border-radius: 20px !important;
  margin-bottom: 10px !important;
  font-size: 16px !important;
  font-weight: bold !important;
}